[Unit]
Description=Comunicore Forum Backend
After=network.target

[Service]
User=comunicore
Group=comunicore
WorkingDirectory=/home/comunicore/app
EnvironmentFile=/home/comunicore/.comunicore.env
ExecStartPre=/home/comunicore/app/migrate --config ./server-config.toml
ExecStart=/home/comunicore/app/comunicore --config ./server-config.toml
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
